.footer-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(139, 139, 139, 0.329);
  color: rgb(172, 172, 172);
  font-size: 13px;
  margin-top: 50px;
  word-spacing: 4px;
}

.footer-icon {
  color: rgb(247, 81, 81);
}

.name {
  font-family: "East Sea Dokdo";
  font-size: 25px;
}

#copyright a {
  text-decoration: underline;
  color: inherit;
  transition: all 0.3s ease;
}

#copyright a:hover {
  color: #cecdcd;
}

.footer-container img {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}
